.menu__items {
    display: flex;
    justify-content: space-between;
    max-width: 108rem;
    margin: auto;
    align-items: flex-start;
    padding-bottom: 3rem;
}

.menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 30%;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--primary-green-tint);
    height: 45rem;
}

.menu__item p {
    font-size: 1.6rem;
    padding: 0.5rem;
}

.menu__details {
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.menu__img {
    display: flex;
    background-color: var(--bkg-white);
}

.menu__img img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.menu__title {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.menu__title h4 {
    font-size: 2.4rem;
}

.menu__title span {
    color: var(--accent-orange);
    font-size: 1.4rem;
    font-weight: 700;
}

@media (max-width: 1240px) {
    .menu__items {
        max-width: 90%;
    }

    .menu__title {
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }
    .menu__item {
        gap: 0.5vh;
        height: 38rem;
    }

    .menu__item p {
        padding: 0.2rem;
        font-size: 1.4rem;
    }

    .menu__img img {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .menu__items {
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    .menu__item {
        gap: 2vh;
        width: 80%;
        height: fit-content;
    }

    .menu__item p {
        padding: 1rem 0 2rem;
        font-size: 1.6rem;
    }

    .menu__img img {
        width: 100%;
    }
}
