.footer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
    background-color: var(--accent-orange-tint);
    padding: 2rem 0;

    display: flex;
}

.footer div {
    flex: 1;
    padding: 0 1rem;
}

.doormat {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
}

.doormat a:link, a:visited {
    color: var(--font-black);
}

.doormat a:hover, a:active {
    color: var(--primary-green);
}


@media (max-width: 700px) {
    .footer {
        flex-wrap: wrap;
    }
}