.header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  var(--bkg-white);;
    padding: 2rem 5%;
}

.header img {
    height: 12rem;
}


.logo {
    grid-column: 1 / 5;
    height: 70%;
}

@media (max-width: 70rem) {
    .header {
        flex-direction: column;
    }

    .logo {
        padding-top: 5vh;
    }
}