.testimonials {
    background-color: var(--primary-green-tint);
}

.testimonials__content {
    margin: 0 auto;
    max-width: 108rem;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.testimonials__content h2 {
    text-align: center;
}

.testimonial__items {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
}

.testimonial__items div {
    width: 32.4rem;
}

@media (max-width: 1240px) {
    .testimonial__items {
        flex-direction: column;
        align-items: center;
        gap: 3vh;
        padding: 0;
    }

    .testimonial__items div {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .testimonial__items {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}
