.bookings {
    grid-column: 1 / -1;
    justify-self: center;
}

.list {
    display: flex;
    gap: 0.5rem;
}

.list li {
    background-color: var(--accent-orange-tint);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}

