.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    min-height: 40vh;
}

.form input {
    width: 50rem;
    height: 5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--primary-green-tint);
    padding: 0.5rem 1rem;
}

.error {
    color: var(--error);
    margin-top: -1.5rem;
    font-size: 1.2rem;
}

@media (max-width: 700px) {
    .form {
        width: 100%;
    }

    .form input,
    .form select {
        width: 80%;
    }
}
