.hero {
    grid-column: 1 / -1;
    grid-row: span 2;
    display: flex;
    background-color: var(--primary-green);
    padding-left: 15%;
    padding-right: 15%;
}

.hero__text {
    flex: 1;
    grid-column: 3 / 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    max-height: 50rem;
}

.hero__text_titles {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hero__text h2 {
    line-height: 1;
}

.hero__text p {
    font-size: 1.6rem;
}

.hero__img {
    flex: 1;
    grid-column: 7 / 11;
    margin-top: 4rem;
    height: fit-content;
    z-index: 1;
}

.hero__img img {
    width: 100%;
    border-radius: 1.2rem;
    margin-bottom: -4rem;
}

.hero__text_btn {
    background-color: var(--font-black);
    padding: 1rem 2rem;
    color: var(--bkg-white);
    border-radius: 0.3rem;
    min-width: 12rem;
    transition: all 300ms;
}

.hero__text_btn:hover {
    background-color: #111;
}

@media (max-width: 700px) {
    .hero__img {
        padding:0 15%;
    }

    .hero {
        flex-direction: column;
    }

    .hero__text_titles {
        text-align: center;
    }
}