:root {
    --font-black: #000;
    --primary-green: #495e57;
    --primary-green-tint: #ebefee;
    --primary-yellow: #f4ce14;
    --primary-yellow-tint: hsl(50, 91%, 82%);
    --accent-orange: #ee9972;
    --accent-orange-tint: #fbdabb;
    --bkg-dark-grey: #aeaeae;
    --bkg-white: #fff;
    --title-font: "Markazi Text";
    --error: #d33333;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: Karla, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

button:focus,
button:focus-visible,
input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px var(--primary-yellow);
    border-radius: 0.5rem;
}

label:hover {
    cursor: pointer;
}

a:focus,
a:focus-visible {
    outline: none;
}

a:link,
a:visited {
    color: var(--font-black);
}

a:active {
    box-shadow: none;
}

button {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: "Markazi text";
}

h2 {
    font-size: 3.6rem;
}

h4 {
    font-size: 2.4rem;
}

section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
