.btn {
    background-color: var(--font-black);
    padding: 1rem 2rem;
    color: var(--bkg-white);
    border-radius: 0.3rem;
    min-width: 12rem;
    transition: all 300ms;
}

.btn:hover:not(.disabled) {
    background-color: #111;
}

.disabled {
    background-color: var(--bkg-dark-grey);
}

.disabled:hover {
    cursor: not-allowed;
}