.btn {
    background-color: var(--font-black);
    padding: 1rem 2rem;
    color: var(--bkg-white);
    border-radius: 0.3rem;
    min-width: 12rem;
    transition: all 300ms;
    position: relative;
}

.btn::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--primary-yellow);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.btn:hover:not(.disabled)::before {
    transform: scaleX(100%);
}

.disabled {
    background-color: var(--bkg-dark-grey);
}

.disabled:hover {
    cursor: not-allowed;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}