.list__item {
    position: relative; /* Create a stacking context for the ::before pseudo-element */
}

.list__item a {
    font-size: 1.8rem;
}

.list__item a {
    text-decoration: none;
    position: relative;
    border-radius: 0.5rem;
}

.list__item a::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 0.5rem;
    transform: scaleX(0); /* Start with the line hidden */
    transform-origin: left;
    transition: all 0.5s ease-out;
}

.list__item a:hover::before,
.list__item a:focus::before,
.list__item a:focus-visible::before {
    background-color: var(--primary-yellow); /* Color of the line on hover */
    transform: scaleX(1); /* Expand the line on hover */
}

.currently-selected {
    background-color: var(--primary-yellow);
}

@media (max-width: 124rem) {
    .list__item a {
        font-size: 1.6rem;
    }
}
